<div id="new_business" class="row col gutters-d span-12-d gray-box">
  <h2>Add a business to our growing list</h2>
  <p>Where do you like to go for a glass of wine, a cold beer, your favorite whiskey or relax with coffee? Provide the details for your favorite local establishments and they will be available for others as they create their own SipTrips.</p>

  <%= form_for @business do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.label :beverage %>
    <%= f.select :beverage, options_for_select(Business.beverage_options) %>

    <%= content_tag(:button, "Submit") %>
  <% end %>
</div>
