<div class='section container'>
  <div class='centered'>
    <div class='box'>
      <h2><%= @business.name %></h2>
      <p>
      <% if @business.ratings.where(:author_id => session[:user_id]).length == 1 %>
        You rated this business <%= @business.ratings.where(:author_id => session[:user_id]).first.value %> out of 5
      <% else %>
        <%= link_to "Rate this business", new_business_rating_path(@business) %>
      <% end %>
      </p>
      <h3>Neighborhood: <%= @details.address_components[2]["long_name"] %></h3>
      <p>
        <%= @details.formatted_address.split(',')[0] %></br>
        <%= @details.formatted_address.split(',')[1] %>, <%= @details.formatted_address.split(',')[2] %>
      </p>
      <p><%= @details.formatted_phone_number %></p>
      <% if @details.website == nil %>
      <% else %>
        <p><%= link_to "Website", @details.website, target: "_blank", rel: "nofollow" %></p>
      <% end %>
      <p>
        <ul>
          <% if @details.opening_hours == nil %>
          <% else %>
            <% @details.opening_hours["weekday_text"].each do |weekday_hours| %>
              <li><%= weekday_hours  %></li>
            <% end %>
          <% end %>
        </ul>
      </p>
      <div class="business-image">
        <% if @details.photos[0] == nil %>
        <% else %>
          <img src="<%= @details.photos[0].fetch_url(150) %>" >
        <% end %>
      </div>
    </div>
  </div>
</div>
