<div class="row col gutters-d span-12-d">
  <div class='gray-box'>
  <%= content_tag(:h2, 'Curate Flights') %>
  <hr>
  <%= form_for @search, :url => search_results_flights_path do |f| %>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.label :beverage %>
    <%= f.select :beverage, options_for_select(SearchForm.beverage_options) %>
    <%= f.label :distance_in_miles %>
    <%= f.select :distance, options_for_select(SearchForm.distance_options) %>

    <%= content_tag(:button, "Submit") %>
  <% end %>
  </div>
</div>
