<header class="row">
  <h1>SipTrip</h1>
</header>
<%= content_tag "div", id: "businesses", data: {url: @businesses} do %>
<% end %>
<div class="row">
  <div class="col gutters-d span-8-d" id="map-container">
    <div id="map-canvas">

    </div>
  </div>

  <div class="col gutters-d span-4-d" id="business-list">
  <h1>This is a business list</h1>
  <% @businesses.each do |business| %>
    <h2><%= business.name %></h2>
    <p><%= business.location %></p>
    <p>Rating: <%= business.rating %></p>
    <p>Latitude: <%= business.latitude %></p>
    <p>Longitude: <%= business.longitude %></p>
  <% end %>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDAWZInGIoJmxu61yRWsqh7XrmW7GQLX8&callback=initMap"
    async defer></script>
