<div class='section container' id='map-display-section'>
  <div class='centered large'>

    <%= content_tag "div", id: "businesses", data: {url: @flight.businesses} do %>
    <% end %>

    <div class="row" id='map-list-block'>
      <div class="col span-12-t span-8-d">
        <div class='box'>
          <div id="map-canvas">

          </div>
        </div>
      </div>

      <div class='col span-12-t span-4-d'>
        <div id="business-listings" class="box">
          <h1><%= @flight.theme.capitalize %> flight</h1>
          <% if user_logged_in_and_no_bookmark(@flight) %>
            <p><%= link_to "Bookmark this flight", bookmark_flight_path(@flight) %></p>
          <% end %>
          <% @flight.businesses.each do |business| %>
            <h2><%= link_to business.name, business_path(business) %></h2>
            <p><%= business.location %></p>
            <p>Rating: <%= business.average_rating %></p>
          <% end %>
        </div>
       </div>

    </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_KEY'] %>&callback=initMap&libraries=places" defer async></script>
  </div>
</div>
