<div class="section container" id="business-section">
  <div class='centered'>
    <div class="" id='business-form'>
      <div class='box'>

        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>

        <h2>Welcome, <%= @user.username %></h2>

        <h3>Flights you've bookmarked</h3>
        <ul>
        <% @user.flights.each do |flight| %>
          <li><%= link_to flight.name, flight_path(flight) %></li>
        <% end %>
        </ul>

        <h3>Businesses you've rated</h3>
        <ul>
        <% @user.ratings.each do |rating| %>
        <li><%= link_to "#{rating.business.name}", rating.business %></li>
        <% end %>
        </ul>

        <%= link_to "Add a Business to SipTrip", new_business_path %>

      </div>
    </div>
  </div>
</div>
