<!DOCTYPE html>
<html>
  <head>
    <title>SipTrip</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
  </head>
  <body>
    <header class="row">
      <h1>SipTrip</h1>
      <div id="navigation">
      <% if session[:user_id] %>
        <%= link_to "profile", user_path(session[:user_id]) %>
        <%= link_to "logout", session_path(session[:user_id]), method: :delete %>
      <% else %>
        <%= link_to "register", new_user_path %>
        <%= link_to "login", new_session_path %>
      <% end %>
      <%= link_to "flight search", search_flights_path %>
      </div>
    </header>

    <main>
        <%= yield %>
    </main>

    <footer class="row">
      <p>Copyright © <%= Date.today.year %> DBC Huskies &nbsp;|&nbsp; All Rights Reserved</p>
    </footer>
  </body>
</html>
