<!DOCTYPE html>
<html>
  <head>
    <title>SipTrip</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
  </head>

  <body class='background-<%= @theme_name || 'beer' %> rotating')>
    <header class="row">
      <h1>SipTrip</h1>
      <div id="navigation">
      <% if session[:user_id] %>
        <%= link_to "profile", user_path(session[:user_id]) %>
        <%= link_to "logout", session_path(session[:user_id]), method: :delete %>
      <% else %>
        <%= link_to "register", new_user_path %>
        <%= link_to "login", new_session_path %>
      <% end %>
      <%= link_to "flight search", search_flights_path %>
      </div>
    </header>

    <main>
        <%= yield %>
    </main>

    <footer class="row">
      <p>Copyright © <%= Date.today.year %> DBC Huskies &nbsp;|&nbsp; All Rights Reserved</p>
      <p id='photo-credits'>Photo credits: <a href="http://www.flickr.com/photos/7855946@N08/21751431419">Beer Flight</a>, <a href="http://www.flickr.com/photos/50769931@N00/3386884411">101_1685</a>, <a href="http://www.flickr.com/photos/11962592@N00/29011164395">Wine glasses at Robert Mondavi cellars</a>, <a href="http://www.flickr.com/photos/10687935@N04/10466566746">Take flight!</a>, <a href="http://www.flickr.com/photos/121058175@N06/27814822843">Drinks</a>, <a href="http://www.flickr.com/photos/7291707@N03/8518124134">Yamazaki Distillery</a>, <a href="http://www.flickr.com/photos/28400420@N08/6523881095">Holiday Blend Cupping</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">(license)</a></p>
    </footer>
  </body>
</html>
