<!DOCTYPE html>
<html>
  <head>
    <title>SipTrip</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
  </head>
  <body class='background-<%= @theme_name || 'beer' %> rotating')>
    <%= render "layouts/header" %>

    <main>
        <%= yield %>
    </main>

    <footer class="row">
      <p>Copyright © <%= Date.today.year %> DBC Huskies &nbsp;|&nbsp; All Rights Reserved</p>
    </footer>
  </body>
</html>
